<extend name="Base/common" />
<block name="body">
    <section class="banner">
        <div id="js" class="js">
            <volist name=":get_banner(1,4)" id="val">
                <a class="aa" target="_blank" href="{$val['url']}">
                    <IMG class="imgb" src="{$val['image']}" width="1660" height="441">
                </a>
            </volist>
            <div class="jsnr">
                <div id="jsNav" class="jsNav fix">
                    <volist name=":get_banner(1,4)" id="val">
                        <A <if condition='$key eq 0'>class="trigger xz"<else/>class="trigger"</if> href="javascript:void(0)"><img src="{$val['image']}" width="98" height="51"></A>
                    </volist>
                </div>
            </div>
            <div class="ilx-qksch">
                <div class="ilx-qksch-bg">
                    <div class="ilx-schtx sch1">
                        <h1 class="ico-pl">出发城市</h1>
                        <input class="ilx-schinput" type="text" data-utype="start" data-can="" value="全部">
                        <div class="ilx-schlist" style="display: none;">
                            <div class="ilx-schlist-wrap clearfix">
                                <div class="ilx-clsprt"></div>
                                <ul>
                                    <volist name=":C('START_LIST')" id="val">
                                        <li class="ilx-sch-li" data-type="start" data-start="{$val}">{$val}</li>
                                    </volist>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <input class="ilx-schinput" type="hidden" id="catid" data-utype="catid" data-can="1">
                    <div class="ilx-schtx sch2">
                        <h1 class="ico-am">目的地</h1>
                        <input class="ilx-schinput" type="text" data-utype="dest" data-can="" value="全部">
                        <div class="ilx-schlist pl-ctas" style="display: none;">
                            <div class="ilx-schlist-wrap clearfix">
                                <div class="ilx-clsprt"></div>
                                <volist name="line_cate" id="value">
                                    <div class="catid" style="overflow: hidden;">
                                        <ul class="pl-ct clearfix" style="width:400px;display:inline-block;">
                                            <li class="ilx-sch-li ilx-slas" data-type="catid" data-catid="{$value['id']}">{$value['title']}</li>
                                            <volist name="value['_']" id="val">
                                                <li class="pl-ctlist">{$val['title']}</li>
                                            </volist>
                                        </ul>
                                        <volist name="value['_']" id="val">
                                            <ul class="pl-ctpl" data-cate="{$value['id']}" style="display:none;">
                                                <volist name="val['_']" id="v">
                                                    <li class="ilx-sch-li ilx-slas" data-type="dest" data-dest="{$v['id']}" data-destcatid="{$value['id']}">{$v['title']}</li>
                                                </volist>
                                            </ul>
                                        </volist>
                                    </div>
                                </volist>
                            </div>
                        </div>
                    </div>
                    <div class="ilx-schtx sch3">
                        <h1 class="ico-st">线路类型</h1>
                        <input class="ilx-schinput" type="text" data-utype="l_type" data-can="" value="全部">
                        <div class="ilx-schlist" style="display: none;">
                            <div class="ilx-schlist-wrap clearfix">
                                <div class="ilx-clsprt"></div>
                                <ul>
                                    <volist name=":C('LINE_TYPE')" id="val">
                                        <li class="ilx-sch-li" data-type="l_type" data-l_type="{$key}">{$val}</li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ilx-schtx sch4">
                        <h1 class="ico-xz">参团性质</h1>
                        <input class="ilx-schinput" type="text" data-utype="ct_type" data-can="" value="全部">
                        <div class="ilx-schlist" style="display: none;">
                            <div class="ilx-schlist-wrap clearfix">
                                <div class="ilx-clsprt"></div>
                                <ul>
                                    <volist name=":C('CAN_TUAN')" id="val">
                                        <li class="ilx-sch-li" data-type="ct_type" data-ct_type="{$key}">{$val}</li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ilx-schtx sch5">
                        <h1 class="ico-da">旅行天数</h1>
                        <input class="ilx-schinput" type="text" data-utype="daynum" data-can="" value="全部">
                        <div class="ilx-schlist" style="display: none;">
                            <div class="ilx-schlist-wrap clearfix">
                                <div class="ilx-clsprt"></div>
                                <ul>
                                    <volist name=":C('DAY_NUM')" id="val">
                                        <li class="ilx-sch-li" data-type="daynum" data-daynum="{$key}">{$val}</li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="ilx-qka">一键搜索</a> </div>
            </div>
        </div>
    </section>
    <!--banner end-->
    <section class="wmdcn">
        <div class="wmdcn_nr auto fix">
            <div class="wmdcn_nr_left">
                我们的承诺：<span>OUR COMMITMENT</span>
            </div>
            <div class="wmdcn_nr_right">
                <ul>
                    <li>
                        <div class="yimg fl">
                            <img src="__IMG__/ytip_01.png" alt="" class="ymg1 fl">
                            <img src="__IMG__/ytip_011.png" alt="" class="ymg2 fl">
                        </div>
                        <div class="yzi fl">
                            <div class="y_zi1">
                                <span>特价不二</span> 价格只会更低
                            </div>
                            <div class="y_zi2">
                                <span>特价不二</span> 一样的旅行不一样的价格，致力于提供旅游行业内的特价尾单，让您以最优惠的价格，获得最优质的旅游产品。
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yimg fl">
                            <img src="__IMG__/ytip_02.png" alt="" class="ymg1 fl">
                            <img src="__IMG__/ytip_022.png" alt="" class="ymg2 fl">
                        </div>
                        <div class="yzi fl">
                            <div class="y_zi1">
                                <span>最优线路</span> 行程精心筛选
                            </div>
                            <div class="y_zi2">
                                <span>最优线路</span> 依托国内品牌旅游产品供应商，精选国内外热门、经典旅游线路，让您一次出行，畅游目的地，旅程充实、乐趣、舒适。
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yimg fl">
                            <img src="__IMG__/ytip_03.png" alt="" class="ymg1 fl">
                            <img src="__IMG__/ytip_033.png" alt="" class="ymg2 fl">
                        </div>
                        <div class="yzi fl">
                            <div class="y_zi1">
                                <span>贴心服务</span> 服务全程跟踪
                            </div>
                            <div class="y_zi2">
                                <span>贴心服务</span> 专业旅游顾问，一对一服务。从您来电话咨询到行程结束，贴心服务贯穿全程，及时响应您的合理需求，高效处理您的反馈问题。
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yimg fl">
                            <img src="__IMG__/ytip_04.png" alt="" class="ymg1 fl">
                            <img src="__IMG__/ytip_044.png" alt="" class="ymg2 fl">
                        </div>
                        <div class="yzi fl">
                            <div class="y_zi1">
                                <span>让您安心</span> 品牌质量保证 支付安全
                            </div>
                            <div class="y_zi2">
                                <span>让您安心</span> 国家旅游局许可，具有经营出境旅游业务资质的国际旅行社。正规合同签订，标准流程操作。产品预订线上线下支付安全、便捷。
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--我们的承诺 end-->
    <section class="main auto">
        <div class="main1">
            <div class="main1_top fix">
                <span><img src="__IMG__/bg25.png" width="29" height="28" alt=""> 版主推荐</span>
                <a href="{:U('Line/index')}" title="">更多 ></a>
            </div>
            <div class="main1_bottom fix">
                <volist name=":get_line_position('1,5,6',2,4)" id="val">
                    <dl>
                        <dt>
                            <a href="{$val['url']}" title="">
                                <img src="{$val['img']}" width="268" height="197">
                                <em>立省 ￥{$val['save']}</em>
                                <p>{$val['title']} <e style="font-size:12px;">{$val['sub_title']}</e></p>
                                <span>{$val['title']}</span>
                            </a>
                        </dt>
                        <dd class="fix">
                            <p><em>￥{$val['price']}</em>￥{$val['best_price']} 起</p>
                            <span><a href="{$val['url']}" title="">抢购</a></span>
                        </dd>
                    </dl>
                </volist>
            </div>
        </div>
        <div class="main2">
            <div class="main2_top fix">
                <span>全部尾单</span>
                <a href="{:U('Line/index',array('catid'=>1))}" title="">更多 ></a>
            </div>
            <div class="main2_bottom fix">
                <div class="title fix">
                    <div class="title1 xz">精选</div>
                    <volist name=":get_line_cate_lists(1,10)" id="val">
                        <div class="title1">{$val['title']}</div>
                    </volist>
                </div>
                <div class="title_nr">

                    <div class="title_nr1 fix">
                        <div class="title_nr1_left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <volist name=":get_banner(2,4)" id="val">
                                        <li style="background:url({$val['image']}) 50% 0 no-repeat;">
                                            <a href="{$val['url']}"></a>
                                        </li>
                                    </volist>

                                </ul>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.flexslider').flexslider({
                                        directionNav: true,
                                        pauseOnAction: false
                                    });
                                });
                            </script>
                        </div>
                        <div class="title_nr1_right fix">
                            <volist name=":get_line_position(1,1,6)" id="v">
                                <dl>
                                    <dt>
                                     	<img src="{$v['img']}" width="262" height="194">
                                      	<span><a href="{$v['url']}" title="">立即抢购</a></span>
                                    </dt>
                                    <dd class="fix">
                                        <a href="{$v['url']}" title="">{$v['title']}</a>
                                        <p>市场价：{$v['price']}元</p>
                                        <span><em>￥{$v['best_price']}</em>元起</span>
                                    </dd>
                                </dl>
                            </volist>
                        </div>
                    </div>

                    <volist name=":get_line_cate_lists(1,10)" id="val">
                        <div class="title_nr1 fix" style="display:none;">
                            <div class="title_nr1_left">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <volist name=":get_banner(2,4)" id="info">
                                            <li style="background:url({$info['image']}) 50% 0 no-repeat;">
                                                <a href="{$info['url']}"></a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $('.flexslider').flexslider({
                                            directionNav: true,
                                            pauseOnAction: false
                                        });
                                    });
                                </script>
                            </div>
                            <div class="title_nr1_right fix">
                                <volist name=":get_line_position($val['id'],0,6)" id="v">
                                    <dl>
                                        <dt>
                                     		<img src="{$v['img']}" width="262" height="194">
                                      	<span><a href="{$v['url']}" title="{$v['title']}">立即抢购</a></span>
                                      </dt>
                                        <dd class="fix">
                                            <a href="{$v['url']}" title="{$v['title']}">{$v['title']}</a>
                                            <p>市场价：{$v['price']}元</p>
                                            <span><em>￥{$v['best_price']}</em>元起</span>
                                        </dd>
                                    </dl>
                                </volist>

                            </div>
                        </div>
                    </volist>

                </div>
            </div>
        </div>
        <div class="main2_top fix">
            <span>出境特卖</span>
            <a href="{:U('Line/index',array('catid'=>6))}" title="">更多 ></a>
        </div>
        <div class="main2_bottom fix">
            <div class="title fix">
                <div class="title1 xz">精选</div>
                <volist name=":get_line_cate_lists(6,10)" id="val">
                    <div class="title1">{$val['title']}</div>
                </volist>
            </div>
            <div class="title_nr">

                <div class="title_nr1 fix">
                    <div class="title_nr1_left">
                        <div class="flexslider">
                            <ul class="slides">
                                <volist name=":get_banner(3,4)" id="val">
                                    <li style="background:url({$val['image']}) 50% 0 no-repeat;">
                                        <a href="{$val['url']}"></a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.flexslider').flexslider({
                                    directionNav: true,
                                    pauseOnAction: false
                                });
                            });
                        </script>
                    </div>
                    <div class="title_nr1_right fix">
                        <volist name=":get_line_position(6,1,6)" id="v">
                            <dl>
                                <dt>
                                      <img src="{$v['img']}" width="262" height="194">
                                      <span><a href="{$v['url']}" title="">立即抢购</a></span>
                                    </dt>
                                <dd class="fix">
                                    <a href="{$v['url']}" title="">{$v['title']}</a>
                                    <p>市场价：{$v['price']}元</p>
                                    <span><em>￥{$v['best_price']}</em>元起</span>
                                </dd>
                            </dl>
                        </volist>
                    </div>
                </div>

                <volist name=":get_line_cate_lists(6,10)" id="val">
                    <div class="title_nr1 fix" style="display:none;">
                        <div class="title_nr1_left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <volist name=":get_banner(3,4)" id="info">
                                        <li style="background:url({$info['image']}) 50% 0 no-repeat;">
                                            <a href="{$info['url']}"></a>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.flexslider').flexslider({
                                        directionNav: true,
                                        pauseOnAction: false
                                    });
                                });
                            </script>
                        </div>
                        <div class="title_nr1_right fix">
                            <volist name=":get_line_position($val['id'],0,6)" id="v">
                                <dl>
                                    <dt>
                                      <img src="{$v['img']}" width="262" height="194">
                                      <span><a href="{$v['url']}" title="">立即抢购</a></span>
                                    </dt>
                                    <dd class="fix">
                                        <a href="{$v['url']}" title="">{$v['title']}</a>
                                        <p>市场价：{$v['price']}元</p>
                                        <span><em>￥{$v['best_price']}</em>元起</span>
                                    </dd>
                                </dl>
                            </volist>

                        </div>
                    </div>
                </volist>

            </div>
        </div>
        <div class="main2_top fix">
            <span>国内特卖</span>
            <a href="{:U('Line/index',array('catid'=>5))}" title="">更多 ></a>
        </div>
        <div class="main2_bottom fix">
            <div class="title fix">
                <div class="title1 xz">精选</div>
                <volist name=":get_line_cate_lists(5,10)" id="val">
                    <div class="title1">{$val['title']}</div>
                </volist>
            </div>
            <div class="title_nr">

                <div class="title_nr1 fix">
                    <div class="title_nr1_left">
                        <div class="flexslider">
                            <ul class="slides">
                                <volist name=":get_banner(4,4)" id="val">
                                    <li style="background:url({$val['image']}) 50% 0 no-repeat;">
                                        <a href="{$val['url']}"></a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.flexslider').flexslider({
                                    directionNav: true,
                                    pauseOnAction: false
                                });
                            });
                        </script>
                    </div>
                    <div class="title_nr1_right fix">
                        <volist name=":get_line_position(5,1,6)" id="v">
                            <dl>
                                <dt>
                                      <img src="{$v['img']}" width="262" height="194">
                                      <span><a href="{$v['url']}" title="">立即抢购</a></span>
                                    </dt>
                                <dd class="fix">
                                    <a href="{$v['url']}" title="">{$v['title']}</a>
                                    <p>市场价：{$v['price']}元</p>
                                    <span><em>￥{$v['best_price']}</em>元起</span>
                                </dd>
                            </dl>
                        </volist>
                    </div>
                </div>

                <volist name=":get_line_cate_lists(5,10)" id="val">
                    <div class="title_nr1 fix" style="display:none;">
                        <div class="title_nr1_left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <volist name=":get_banner(4,4)" id="info">
                                        <li style="background:url({$info['image']}) 50% 0 no-repeat;">
                                            <a href="{$info['url']}"></a>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.flexslider').flexslider({
                                        directionNav: true,
                                        pauseOnAction: false
                                    });
                                });
                            </script>
                        </div>
                        <div class="title_nr1_right fix">
                            <volist name=":get_line_position($val['id'],0,6)" id="v">
                                <dl>
                                    <dt>
                                      <img src="{$v['img']}" width="262" height="194">
                                      <span><a href="{$v['url']}" title="">立即抢购</a></span>
                                    </dt>
                                    <dd class="fix">
                                        <a href="{$v['url']}" title="">{$v['title']}</a>
                                        <p>市场价：{$v['price']}元</p>
                                        <span><em>￥{$v['best_price']}</em>元起</span>
                                    </dd>
                                </dl>
                            </volist>

                        </div>
                    </div>
                </volist>

            </div>
        </div>


        </div>
        <div class="main3">
            <div class="main3_top fix">
                <span>特价签证</span>
                <a href="{:U('Visa/index')}" title="">更多 ></a>
            </div>
            <div class="main3_bottom fix">
                <volist name=":get_visa_position('',1,6)" id="val">
                    <dl>
                        <dt><a href="{$val['url']}" title="">
                  <if condition=" $val['thumb'] !='' ">
                       <img src="{$val['thumb']}" width="176" height="129">
                  <else/>
                       <img src="__IMG__/no_picture.gif" width="176" height="129">
                  </if>


                </a><span>活动价</span></dt>
                        <dd class="fix">
                            <p><a href="{$val['url']}" title="">{$val['zone']}</a></p>
                            <span><em>￥{$val['price_cncn']}</em>元起</span>
                        </dd>
                    </dl>
                </volist>

            </div>
        </div>
        <div class="main4 fix">
            <div class="main4_left">
                <div class="main4_left_top fix">
                    <span>旅游资讯</span>
                    <a href="{:U('Article/index')}" title="">更多 ></a>
                </div>
                <div class="main4_left_bottom fix">
                    <div class="main4_left_bottom_left">
                        <volist name=":get_article_position(1,4,1)" id="val">
                            <a href="{$val['url']}" title=""><img src="{$val['thumb']}" width="400" height="238"></a>
                        </volist>
                        <span><img src="__IMG__/bg31.png" width="10" height="21"></span>
                    </div>
                    <div class="main4_left_bottom_right">
                        <volist name=":get_article_position(1,4,1)" id="val">
                            <dl class="fix">
                                <dt>
                              <p>{:date('d',$val['create_time'])}</p>
                                <span>{:date('Y-m',$val['create_time'])}</span>
                            </dt>
                                <dd>
                                    <a href="{$val['url']}" title="">{$val[title]}</a> {$val['description']}
                                </dd>
                            </dl>
                        </volist>
                        <ul>
                            <volist name=":get_article_position(1,2,5)" id="val">
                                <li class="fix">
                                    <a href="{$val['url']}" title="">{$val[title]}</a> [{:date('Y-m-d',$val['create_time'])}]
                                </li>
                            </volist>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="main4_right">
                <div class="main4_right_top fix">
                    <span>最近预定</span>
                    <a href="javascript:;" title="">更多 ></a>
                </div>
                <div class="main4_right_bottom fix">
                    <div class="scrollleft">
                        <ul class="fix">
                            <li>
                                <p><span>孟**预订了仅4598元的</span>14:46</p>
                                <a href="#">【曼谷+芭提雅+双岛+双园5晚7日】全程...</a>
                            </li>
                            <li>
                                <p><span>孟**预订了仅4598元的</span>14:46</p>
                                <a href="#">【曼谷+芭提雅+双岛+双园5晚7日】全程...</a>
                            </li>
                            <li>
                                <p><span>孟**预订了仅4598元的</span>14:46</p>
                                <a href="#">【曼谷+芭提雅+双岛+双园5晚7日】全程...</a>
                            </li>
                            <li>
                                <p><span>孟**预订了仅4598元的</span>14:46</p>
                                <a href="#">【曼谷+芭提雅+双岛+双园5晚7日】全程...</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
</block>
