<extend name="Public/base" />

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>{$meta_title}</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="" method="post" class="form-horizontal">
        <div id="tab1" class="tab-pane tab1 in">
			<div class="form-item cf">
				<div class="controls">
					<label class="item-label">广告位<span class="check-tips">（只读）</span></label>
					<input type="text" class="text input-large" readonly="readonly" value="{$banner_info['name']|default=''}">
				</div>
			</div>
			<div class="form-item cf">
				<div class="controls">
					<label class="item-label">标题<span class="check-tips">（必填）</span></label>
					<input type="text" class="text input-large" name="title" value="{$info['title']|default=''}">
				</div>
			</div>
			<div class="form-item cf">
				<div class="controls">
					<label class="item-label">图片<span class="check-tips">（建议图片尺寸：{$banner_info['width']}*{$banner_info['height']}px）</span></label>
					<div class="controls">
						<input type="file" id="upload_picture_image">
						<input type="hidden" name="image" id="cover_id_image" value="{$info['image']}"/>
						<div class="upload-img-box">
						<notempty name="info['image']">
							<div class="upload-pre-item"><img src="{$info['image']|get_cover='path'}"/></div>
						</notempty>
						</div>
					</div>
					<script type="text/javascript">
					//上传图片
					/* 初始化上传插件 */
					$("#upload_picture_image").uploadify({
						"height"          : 30,
						"swf"             : "__STATIC__/uploadify/uploadify.swf",
						"fileObjName"     : "download",
						"buttonText"      : "上传图片",
						"uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
						"width"           : 120,
						'removeTimeout'	  : 1,
						'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
						"onUploadSuccess" : uploadPictureimage,
						'onFallback' : function() {
							alert('未检测到兼容版本的Flash.');
						}
					});
					function uploadPictureimage(file, data){
						var data = $.parseJSON(data);
						var src = '';
						if(data.status){
							$("#cover_id_image").val(data.id);
							src = data.url || '__ROOT__' + data.path
							$("#cover_id_image").parent().find('.upload-img-box').html(
								'<div class="upload-pre-item"><img src="' + src + '"/></div>'
							);
						} else {
							updateAlert(data.info);
							setTimeout(function(){
								$('#top-alert').find('button').click();
								$(that).removeClass('disabled').prop('disabled',false);
							},1500);
						}
					}
					</script>
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">描述<span class="check-tips">（描述）</span></label>
				<div class="controls">
					<label class="textarea input-large">
						<textarea name="description">{$info['description']|default=''}</textarea>
					</label>
				</div>
			</div>
			<div class="form-item cf">
				<div class="controls">
					<label class="item-label">链接<span class="check-tips"></span></label>
					<input type="text" class="text input-mid" name="url" value="{$info['url']|default=''}">
				</div>
			</div>
			<div class="form-item cf">
				<div class="controls">
					<label class="item-label">排序<span class="check-tips"></span></label>
					<input type="text" class="text input-mid" name="sort" value="{$info['sort']|default=0}">
				</div>
			</div>




		</div>
		<div class="form-item cf">
				<input type="hidden" name="bid" value="{$bid}">
			<button class="btn btn-return ajax-post hidden" id="submit" type="submit" name="0" target-form="form-horizontal">确定保存</button>
			<input type="hidden" name="id" value="{$info['id']}"/>
		</div>
	</form>
</div>
</block>

<block name="script">
<script type="text/javascript">

$(function(){
	//导航高亮
	highlight_subnav('{:U('index')}');

	var rules = [{$data['line_type']}];
	$('.auth_rules').each(function(){
		if( $.inArray( parseInt(this.value,10),rules )>-1 ){
			$(this).prop('checked',true);
		}
		if(this.value==''){
			$(this).closest('span').remove();
		}
	});
});
</script>
</block>
