<extend name="Base/common" />
<block name="nav"></block>
<block name="body">
    <section class="zhmm_main1" style="background:url(__IMG__/dlzc_bg.jpg) no-repeat center top">
        <div class="zhmm_main1_nr auto">
        	<h2>找回密码</h2>
            <div class="zhmm_main1_nrk auto">
            	<div class="zhmm_main1_nrk_top fix" style="background:url(__IMG__/bg57.png) no-repeat">
                	<span>1、填写手机号码</span>
                	<span>2、重置密码</span>
                	<span class="xz">3、完成</span>
                </div>
            	<div class="cgzhmm_main">
               		<img src="__IMG__/bg51.png" width="84" height="84" alt="">
                    <span>成功找回密码！<a href="{:U('User/login')}" title="">返回登录>></a></span>
                </div>
            </div>
        </div>
    </section>
</block>
