<extend name="Base/common" />
<block name="nav"></block>
<block name="body">
    <section class="zhmm_main1" style="background:url(__IMG__/dlzc_bg.jpg) no-repeat center top">
        <div class="zhmm_main1_nr auto">
        	<h2>找回密码</h2>
            <div class="zhmm_main1_nrk auto">
            	<div class="zhmm_main1_nrk_top fix" style="background:url(__IMG__/bg56.png) no-repeat">
                	<span>1、填写手机号码</span>
                	<span class="xz">2、重置密码</span>
                	<span>3、完成</span>
                </div>
            	<div class="zhmm_main1_nrk_bottom">
                <form id="modiform" action="{:U('User/findPassword', array('setp'=>3))}" method="post">
                	<div class="zhmm_main1_nrk_bottom2 fix">
                    	<div class="zhmm_main1_nrk_bottom2_left">用 户 名：</div>
                    	<div class="zhmm_main1_nrk_bottom2_right">{$username}</div>
                    </div>
                    <div class="zhmm_main1_nrk_bottom1 fix">
                    	<div class="zhmm_main1_nrk_bottom1_left">新 密 码：</div>
                    	<div class="zhmm_main1_nrk_bottom1_center fix">
                        	<ol class="fix">
                                <p><img src="__IMG__/bg45.png" width="21" height="19"></p>
                                <span><input name="password" class="seach_in1 search-keyword wbk" type="text" id="password" value="密码（6-20位字母、数字、符号组合）"onfocus="if(this.value=='密码（6-20位字母、数字、符号组合）'){this.value='';}"  onblur="if(this.value==''){this.value='密码（6-20位字母、数字、符号组合）';}"/></span>
                            </ol>
                        </div>
                    </div>
                    <div class="zhmm_main1_nrk_bottom1 fix">
                    	<div class="zhmm_main1_nrk_bottom1_left">确认密码：</div>
                    	<div class="zhmm_main1_nrk_bottom1_center fix">
                        	<ol class="fix">
                                <p><img src="__IMG__/bg45.png" width="21" height="19"></p>
                                <span><input name="confirm_password" class="seach_in1 search-keyword wbk" type="text" id="confirm_password" value="确认密码"onfocus="if(this.value=='确认密码'){this.value='';}"  onblur="if(this.value==''){this.value='确认密码';}"/></span>
                            </ol>
                        </div>
                    </div>
                    <div class="zhmm_main1_nrk_bottom1 fix">
                    	<div class="zhmm_main1_nrk_bottom1_left"></div>
                    	<div class="zhmm_main1_nrk_bottom1_center fix">
                        	 <dl style="margin-top:-5px;"><input type="submit" value="下一步" class="btn"></dl>
                        </div>
                    	<div class="zhmm_main1_nrk_bottom1_right"></div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="__JS__/jquery-validation/jquery.validate.js" type="text/javascript"></script>
    <script src="__JS__/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
    <script src="__JS__/jquery-validation/additional-methods.js" type="text/javascript"></script>
    <script src="__JS__/validate/findPassword.js" type="text/javascript"></script>
    <script>
        jQuery(function() {
            front_validate.findPassword();
        });
    </script>
</block>
