<extend name="Base/common" />
<block name="nav"></block>
<block name="body">
    <section class="zhmm_main1" style="background:url(__IMG__/dlzc_bg.jpg) no-repeat center top">
        <div class="zhmm_main1_nr auto">
        	<h2>找回密码</h2>
            <div class="zhmm_main1_nrk auto">
            	<div class="zhmm_main1_nrk_top fix" style="background:url(__IMG__/bg54.png) no-repeat">
                	<span class="xz">1、填写手机号码</span>
                	<span>2、重置密码</span>
                	<span>3、完成</span>
                </div>
            	<div class="zhmm_main1_nrk_bottom">
                <form id="modiform" action="{:U('User/findPassword', array('setp'=>2))}" method="post">
                	<div class="zhmm_main1_nrk_bottom1 fix">
                    	<div class="zhmm_main1_nrk_bottom1_left">手机号码：</div>
                    	<div class="zhmm_main1_nrk_bottom1_center fix">
                        	<ol class="fix">
                                <p><img src="__IMG__/bg44.png" width="21" height="19"></p>
                                <span><input name="mobile" class="seach_in1 search-keyword wbk" type="text" id="mobile" value="请输入手机号"onfocus="if(this.value=='请输入手机号'){this.value='';}"  onblur="if(this.value==''){this.value='请输入手机号';}"/></span>
                            </ol>
                        </div>
                    </div>
                    <div class="zhmm_main1_nrk_bottom1 fix">
                    	<div class="zhmm_main1_nrk_bottom1_left">验 证 码：</div>
                    	<div class="zhmm_main1_nrk_bottom1_center fix">
                        	<ul class="fix">
                                <input type="text" name="sms_code" id="sms_code" class="wbk">
                                <input type="button" id="send_sms" value="获取验证码" class="btn">
                            </ul>
                        </div>
                    </div>
                    <div class="zhmm_main1_nrk_bottom1 fix">
                    	<div class="zhmm_main1_nrk_bottom1_left"></div>
                    	<div class="zhmm_main1_nrk_bottom1_center fix">
                        	 <dl><input type="submit" id="button2" value="下一步" class="btn"></dl>
                        </div>
                    	<div class="zhmm_main1_nrk_bottom1_right"></div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="__JS__/jquery-validation/jquery.validate.js" type="text/javascript"></script>
    <script src="__JS__/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
    <script src="__JS__/jquery-validation/additional-methods.js" type="text/javascript"></script>
    <script src="__JS__/validate/findPassword.js" type="text/javascript"></script>
    <script>
        jQuery(function() {
            front_validate.findPassword();
            front_validate.send_sms();
        });
    </script>
</block>
